{{#ember-wormhole to='modal_layer' renderInPlace=renderInPlace}}
  {{#ember-modal-dialog-pr-legacy-container
      targetAttachment=targetAttachment
      target=target
      close="close"
      afterOpen="afterOpen"
      nonMiddled=nonMiddled
  }}
    <div class="modal-window {{modalClass}}">
      {{yield}}
    </div>
  {{/ember-modal-dialog-pr-legacy-container}}
{{/ember-wormhole}}
