{{#ember-wormhole to='modal_layer' renderInPlace=renderInPlace}}
  {{#ember-modal-dialog-pr-legacy-container
      targetAttachment=targetAttachment
      target=target
      close="close"
      afterOpen="afterOpen"
      nonMiddled=nonMiddled
  }}
    <div class="modal-window {{modalClass}}">
      <div class="modal-window-header">
        <a class="close" {{action "btnCloseClick"}}>
          <i class="fa fa-remove"></i>
        </a>
      </div>
      <div class="modal-window-body">
        {{yield}}
      </div>
    </div>
  {{/ember-modal-dialog-pr-legacy-container}}
{{/ember-wormhole}}
